<ion-view view-title="Find a Place to Eat">

<button class="button button-energized" ng-click="undo()" style="z-index: 2; position: fixed; bottom: 9px; right: 9px;" ng-if="deleted.length"><i class="icon ion-reply"></i> Undo</button>

  <ion-content class="padding" overflow-scroll="true" style="bottom: 0;">

    <form ng-submit="search()">
        <div class="row">
            <div class="col col-75">
                <label class="item item-input">
                  <input type="text" placeholder="Location" ng-model="form.location">
                </label>
            </div>
            <button class="button button-positive col" style="height: 47px; margin-top: 4px; line-height: 1;" ng-click="search()">Search</button>
        </div>
    </form>

    <ion-list style="width: 100%; overflow: hidden;">
      <ion-item
              swipable="{{item.id}}"
              ng-repeat="item in items | orderBy:'distance'"
              class="list-item">
        <div style="background: url('{{item.image_url || item.snippet_image_url}}');" class="image">
        </div>
        <p ng-bind="item.name" class="item-name"></p>
        <p ng-bind="item.location.display_address[0]" class="item-address"></p>
        <p ng-bind="item.location.display_address[1]" class="item-address"></p>

        <div class="details" style="position: absolute; right: 0.75em; top: .5em; text-align: right;">
            <i class="icon ion-android-star energized" ng-repeat="n in item.rating | range"></i>
            <i class="icon ion-android-star-half energized" ng-if="item.rating % 1 >= .5"></i>
            <p ng-bind="(item.distance * 0.000621371 | round) + ' mi'"></p>
        </div>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
